In [ ]:
pip install sodapy

In [9]:
import json
import requests
import pandas as pd
from pprint import pprint
# from config import password #
from sodapy import Socrata
from config import SODAPY_APPTOKEN
import os
import datetime as dt

In [ ]:
#placeholder - do not use
url = "https://data.bts.gov/resource/w96p-f2qv.json?$$app_token=xxxx"
response = requests.request("GET", url, verify=False)
data = response.json()

In [5]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.bts.gov",
                 "xxxx") #add your API token here

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.bts.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("w96p-f2qv", Level = "State", limit=100000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

,level,date,state_fips,state_code,pop_stay_at_home,pop_not_stay_at_home,trips,trips_1,trips_1_3,trips_3_5,trips_5_10,trips_10_25,trips_25_50,trips_50_100,trips_100_250,trips_250_500,trips_500
0,State,2020-09-07T00:00:00.000,55,WI,1605657.0,4207911.0,14027313.0,3188125.0,3317802.0,1623591.0,2042180.0,2075257.0,874551.0,499110.0,327412.0,55407.0,23878.0
1,State,2020-09-07T00:00:00.000,54,WV,512452.0,1293380.0,4206752.0,877845.0,1061579.0,508638.0,652946.0,622762.0,256695.0,138135.0,70266.0,12796.0,5090.0
2,State,2020-09-07T00:00:00.000,53,WA,2197591.0,5338000.0,17605191.0,4551370.0,4336439.0,1920129.0,2521227.0,2580243.0,941991.0,445592.0,214199.0,37849.0,56152.0
3,State,2020-09-07T00:00:00.000,51,VA,2329710.0,6187975.0,21576098.0,5027293.0,5172228.0,2625199.0,3314192.0,3212328.0,1148586.0,589378.0,365737.0,76329.0,44828.0
4,State,2020-09-07T00:00:00.000,50,VT,172359.0,453940.0,1646634.0,348453.0,423710.0,195874.0,224951.0,267355.0,118950.0,43115.0,18427.0,3101.0,2698.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31411,State,2020-07-05T00:00:00.000,51,VA,2041257,6476428,24337162,6468923,5883294,3024789,3626618,3207172,1103602,570564,346351,68862,36987
31412,State,2020-07-05T00:00:00.000,53,WA,2039939,5495652,18644796,5485722,4384396,2075740,2574619,2540516,898198,431053,182312,31601,40639
31413,State,2020-07-05T00:00:00.000,54,WV,438868,1366964,4957656,1152574,1257178,625621,784140,698114,248782,119493,58682,9466,3606
31414,State,2020-07-05T00:00:00.000,55,WI,1359309,4454259,15539388,3917674,3708884,1875900,2274045,2119498,831156,468478,281667,43359,18727
31415,State,2020-07-05T00:00:00.000,56,WY,143833,433904,1748958,497286,436397,196380,174913,168958,148480,74679,43719,5915,2231

In [50]:
results_date_sort = results_df.sort_values('date')
results_date_sort

,level,date,state_fips,state_code,pop_stay_at_home,pop_not_stay_at_home,trips,trips_1,trips_1_3,trips_3_5,trips_5_10,trips_10_25,trips_25_50,trips_50_100,trips_100_250,trips_250_500,trips_500
3239,State,2019-01-01T00:00:00.000,01,AL,1028578,3844356,11968328,2792091,3151108,1604875,1879113,1629105,534229,232409,108187,27164,10047
3268,State,2019-01-01T00:00:00.000,33,NH,312645,1039666,3705345,726417,970009,492350,582185,573171,231818,90462,27333,3998,7602
3269,State,2019-01-01T00:00:00.000,34,NJ,2244189,6637104,26078674,7491874,6764617,3009746,3582118,3262723,1233743,486493,155179,28397,63784
3270,State,2019-01-01T00:00:00.000,35,NM,525761,1563262,6475422,1972284,1756894,795723,834525,632375,231297,139256,83929,19001,10138
3271,State,2019-01-01T00:00:00.000,36,NY,5931873,13550603,60957950,18317662,15401822,7187598,8789865,7589390,2294488,857637,329795,72132,117561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,State,2020-09-07T00:00:00.000,24,MD,1697261.0,4345457.0,15192430.0,3672811.0,3613620.0,1807899.0,2334234.0,2274094.0,886033.0,336415.0,188004.0,46268.0,33052.0
28,State,2020-09-07T00:00:00.000,25,MA,2179096.0,4723053.0,20235849.0,5384662.0,5295287.0,2388189.0,2816411.0,2695599.0,1003101.0,434173.0,136980.0,27578.0,53869.0
27,State,2020-09-07T00:00:00.000,26,MI,2839783.0,7156132.0,24656817.0,6018240.0,5794554.0,2836831.0,3701091.0,3581409.0,1385811.0,723345.0,461517.0,95887.0,58132.0
25,State,2020-09-07T00:00:00.000,28,MS,658198.0,2328332.0,7152609.0,1631084.0,1741275.0,822180.0,1095347.0,1039919.0,424026.0,213363.0,135169.0,40555.0,9691.0
0,State,2020-09-07T00:00:00.000,55,WI,1605657.0,4207911.0,14027313.0,3188125.0,3317802.0,1623591.0,2042180.0,2075257.0,874551.0,499110.0,327412.0,55407.0,23878.0

In [51]:
results_date_sort['year'] = pd.DatetimeIndex(results_date_sort['date']).year
results_date_sort['month'] = pd.DatetimeIndex(results_date_sort['date']).month
results_date_sort['day'] = pd.DatetimeIndex(results_date_sort['date']).day

results_date_sort

,level,date,state_fips,state_code,pop_stay_at_home,pop_not_stay_at_home,trips,trips_1,trips_1_3,trips_3_5,trips_5_10,trips_10_25,trips_25_50,trips_50_100,trips_100_250,trips_250_500,trips_500,year,month,day
3239,State,2019-01-01T00:00:00.000,01,AL,1028578,3844356,11968328,2792091,3151108,1604875,1879113,1629105,534229,232409,108187,27164,10047,2019,1,1
3268,State,2019-01-01T00:00:00.000,33,NH,312645,1039666,3705345,726417,970009,492350,582185,573171,231818,90462,27333,3998,7602,2019,1,1
3269,State,2019-01-01T00:00:00.000,34,NJ,2244189,6637104,26078674,7491874,6764617,3009746,3582118,3262723,1233743,486493,155179,28397,63784,2019,1,1
3270,State,2019-01-01T00:00:00.000,35,NM,525761,1563262,6475422,1972284,1756894,795723,834525,632375,231297,139256,83929,19001,10138,2019,1,1
3271,State,2019-01-01T00:00:00.000,36,NY,5931873,13550603,60957950,18317662,15401822,7187598,8789865,7589390,2294488,857637,329795,72132,117561,2019,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,State,2020-09-07T00:00:00.000,24,MD,1697261.0,4345457.0,15192430.0,3672811.0,3613620.0,1807899.0,2334234.0,2274094.0,886033.0,336415.0,188004.0,46268.0,33052.0,2020,9,7
28,State,2020-09-07T00:00:00.000,25,MA,2179096.0,4723053.0,20235849.0,5384662.0,5295287.0,2388189.0,2816411.0,2695599.0,1003101.0,434173.0,136980.0,27578.0,53869.0,2020,9,7
27,State,2020-09-07T00:00:00.000,26,MI,2839783.0,7156132.0,24656817.0,6018240.0,5794554.0,2836831.0,3701091.0,3581409.0,1385811.0,723345.0,461517.0,95887.0,58132.0,2020,9,7
25,State,2020-09-07T00:00:00.000,28,MS,658198.0,2328332.0,7152609.0,1631084.0,1741275.0,822180.0,1095347.0,1039919.0,424026.0,213363.0,135169.0,40555.0,9691.0,2020,9,7
0,State,2020-09-07T00:00:00.000,55,WI,1605657.0,4207911.0,14027313.0,3188125.0,3317802.0,1623591.0,2042180.0,2075257.0,874551.0,499110.0,327412.0,55407.0,23878.0,2020,9,7

In [52]:
results_date_sort.dtypes

level                   object
date                    object
state_fips              object
state_code              object
pop_stay_at_home        object
pop_not_stay_at_home    object
trips                   object
trips_1                 object
trips_1_3               object
trips_3_5               object
trips_5_10              object
trips_10_25             object
trips_25_50             object
trips_50_100            object
trips_100_250           object
trips_250_500           object
trips_500               object
year                     int64
month                    int64
day                      int64
dtype: object

In [75]:
results_convert = results_date_sort

In [76]:
results_convert['level'] = results_date_sort['level'].astype('str')
results_convert['date'] = results_date_sort['date'].astype('str')
results_convert['state_fips'] = results_date_sort['state_fips'].astype('int')
results_convert['state_code'] = results_date_sort['state_code'].astype('str')
results_convert['pop_stay_at_home'] = results_date_sort['pop_stay_at_home'].astype('float').astype('int')
results_convert['pop_not_stay_at_home'] = results_date_sort['pop_not_stay_at_home'].astype('float').astype('int')
results_convert['trips'] = results_date_sort['trips'].astype('float').astype('int')
results_convert['trips_1'] = results_date_sort['trips_1'].astype('float').astype('int')
results_convert['trips_1_3'] = results_date_sort['trips_1_3'].astype('float').astype('int')
results_convert['trips_3_5'] = results_date_sort['trips_3_5'].astype('float').astype('int')
results_convert['trips_5_10'] = results_date_sort['trips_5_10'].astype('float').astype('int')
results_convert['trips_10_25'] = results_date_sort['trips_10_25'].astype('float').astype('int')
results_convert['trips_25_50'] = results_date_sort['trips_25_50'].astype('float').astype('int')
results_convert['trips_50_100'] = results_date_sort['trips_50_100'].astype('float').astype('int')
results_convert['trips_100_250'] = results_date_sort['trips_100_250'].astype('float').astype('int')
results_convert['trips_250_500'] = results_date_sort['trips_250_500'].astype('float').astype('int')
results_convert['trips_500'] = results_date_sort['trips_500'].astype('float').astype('int')


results_convert

,level,date,state_fips,state_code,pop_stay_at_home,pop_not_stay_at_home,trips,trips_1,trips_1_3,trips_3_5,trips_5_10,trips_10_25,trips_25_50,trips_50_100,trips_100_250,trips_250_500,trips_500,year,month,day
3239,State,2019-01-01T00:00:00.000,1,AL,1028578,3844356,11968328,2792091,3151108,1604875,1879113,1629105,534229,232409,108187,27164,10047,2019,1,1
3268,State,2019-01-01T00:00:00.000,33,NH,312645,1039666,3705345,726417,970009,492350,582185,573171,231818,90462,27333,3998,7602,2019,1,1
3269,State,2019-01-01T00:00:00.000,34,NJ,2244189,6637104,26078674,7491874,6764617,3009746,3582118,3262723,1233743,486493,155179,28397,63784,2019,1,1
3270,State,2019-01-01T00:00:00.000,35,NM,525761,1563262,6475422,1972284,1756894,795723,834525,632375,231297,139256,83929,19001,10138,2019,1,1
3271,State,2019-01-01T00:00:00.000,36,NY,5931873,13550603,60957950,18317662,15401822,7187598,8789865,7589390,2294488,857637,329795,72132,117561,2019,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,State,2020-09-07T00:00:00.000,24,MD,1697261,4345457,15192430,3672811,3613620,1807899,2334234,2274094,886033,336415,188004,46268,33052,2020,9,7
28,State,2020-09-07T00:00:00.000,25,MA,2179096,4723053,20235849,5384662,5295287,2388189,2816411,2695599,1003101,434173,136980,27578,53869,2020,9,7
27,State,2020-09-07T00:00:00.000,26,MI,2839783,7156132,24656817,6018240,5794554,2836831,3701091,3581409,1385811,723345,461517,95887,58132,2020,9,7
25,State,2020-09-07T00:00:00.000,28,MS,658198,2328332,7152609,1631084,1741275,822180,1095347,1039919,424026,213363,135169,40555,9691,2020,9,7
0,State,2020-09-07T00:00:00.000,55,WI,1605657,4207911,14027313,3188125,3317802,1623591,2042180,2075257,874551,499110,327412,55407,23878,2020,9,7

In [77]:
results_date_sort.dtypes

level                   object
date                    object
state_fips               int32
state_code              object
pop_stay_at_home         int32
pop_not_stay_at_home     int32
trips                    int32
trips_1                  int32
trips_1_3                int32
trips_3_5                int32
trips_5_10               int32
trips_10_25              int32
trips_25_50              int32
trips_50_100             int32
trips_100_250            int32
trips_250_500            int32
trips_500                int32
year                     int64
month                    int64
day                      int64
dtype: object

In [80]:
url_coord = 'https://inkplant.com/code/state-latitudes-longitudes'
table_coord = pd.read_html(url_coord)
table_coord

[                   State   Latitude   Longitude
 0                Alabama  32.806671  -86.791130
 1                 Alaska  61.370716 -152.404419
 2                Arizona  33.729759 -111.431221
 3               Arkansas  34.969704  -92.373123
 4             California  36.116203 -119.681564
 5               Colorado  39.059811 -105.311104
 6            Connecticut  41.597782  -72.755371
 7               Delaware  39.318523  -75.507141
 8   District of Columbia  38.897438  -77.026817
 9                Florida  27.766279  -81.686783
 10               Georgia  33.040619  -83.643074
 11                Hawaii  21.094318 -157.498337
 12                 Idaho  44.240459 -114.478828
 13              Illinois  40.349457  -88.986137
 14               Indiana  39.849426  -86.258278
 15                  Iowa  42.011539  -93.210526
 16                Kansas  38.526600  -96.726486
 17              Kentucky  37.668140  -84.670067
 18             Louisiana  31.169546  -91.867805
 19                 Maine  44.693947  -69.381927
 20              Maryland  39.063946  -76.802101
 21         Massachusetts  42.230171  -71.530106
 22              Michigan  43.326618  -84.536095
 23             Minnesota  45.694454  -93.900192
 24           Mississippi  32.741646  -89.678696
 25              Missouri  38.456085  -92.288368
 26               Montana  46.921925 -110.454353
 27              Nebraska  41.125370  -98.268082
 28                Nevada  38.313515 -117.055374
 29         New Hampshire  43.452492  -71.563896
 30            New Jersey  40.298904  -74.521011
 31            New Mexico  34.840515 -106.248482
 32              New York  42.165726  -74.948051
 33        North Carolina  35.630066  -79.806419
 34          North Dakota  47.528912  -99.784012
 35                  Ohio  40.388783  -82.764915
 36              Oklahoma  35.565342  -96.928917
 37                Oregon  44.572021 -122.070938
 38          Pennsylvania  40.590752  -77.209755
 39          Rhode Island  41.680893  -71.511780
 40        South Carolina  33.856892  -80.945007
 41          South Dakota  44.299782  -99.438828
 42             Tennessee  35.747845  -86.692345
 43                 Texas  31.054487  -97.563461
 44                  Utah  40.150032 -111.862434
 45               Vermont  44.045876  -72.710686
 46              Virginia  37.769337  -78.169968
 47            Washington  47.400902 -121.490494
 48         West Virginia  38.491226  -80.954453
 49             Wisconsin  44.268543  -89.616508
 50               Wyoming  42.755966 -107.302490]

In [79]:
df_coord = table_coord[0]
df_coord.head()

        State   Latitude   Longitude
0     Alabama  32.806671  -86.791130
1      Alaska  61.370716 -152.404419
2     Arizona  33.729759 -111.431221
3    Arkansas  34.969704  -92.373123
4  California  36.116203 -119.681564

In [81]:
url_states ='https://www.factmonster.com/us/postal-information/state-abbreviations-and-state-postal-codes'
table_state = pd.read_html(url_states)
table_state

[                State Abbreviation Postalcode
 0             Alabama         Ala.         AL
 1              Alaska       Alaska         AK
 2      American Samoa          NaN         AS
 3             Arizona        Ariz.         AZ
 4            Arkansas         Ark.         AR
 5          California       Calif.         CA
 6            Colorado        Colo.         CO
 7         Connecticut        Conn.         CT
 8            Delaware         Del.         DE
 9   Dist. of Columbia         D.C.         DC
 10            Florida         Fla.         FL
 11            Georgia          Ga.         GA
 12               Guam         Guam         GU
 13             Hawaii       Hawaii         HI
 14              Idaho        Idaho         ID
 15           Illinois         Ill.         IL
 16            Indiana         Ind.         IN
 17               Iowa         Iowa         IA
 18             Kansas        Kans.         KS
 19           Kentucky          Ky.         KY
 20          Louisiana          La.         LA
 21              Maine        Maine         ME
 22           Maryland          Md.         MD
 23   Marshall Islands          NaN         MH
 24      Massachusetts        Mass.         MA
 25           Michigan        Mich.         MI
 26         Micronesia          NaN         FM
 27          Minnesota        Minn.         MN
 28        Mississippi        Miss.         MS
 29           Missouri          Mo.         MO
 30            Montana        Mont.         MT
 31           Nebraska        Nebr.         NE
 32             Nevada         Nev.         NV
 33      New Hampshire         N.H.         NH
 34         New Jersey         N.J.         NJ
 35         New Mexico         N.M.         NM
 36           New York         N.Y.         NY
 37     North Carolina         N.C.         NC
 38       North Dakota         N.D.         ND
 39  Northern Marianas          NaN         MP
 40               Ohio         Ohio         OH
 41           Oklahoma        Okla.         OK
 42             Oregon         Ore.         OR
 43              Palau          NaN         PW
 44       Pennsylvania          Pa.         PA
 45        Puerto Rico         P.R.         PR
 46       Rhode Island         R.I.         RI
 47     South Carolina         S.C.         SC
 48       South Dakota         S.D.         SD
 49          Tennessee        Tenn.         TN
 50              Texas         Tex.         TX
 51               Utah         Utah         UT
 52            Vermont          Vt.         VT
 53           Virginia          Va.         VA
 54     Virgin Islands         V.I.         VI
 55         Washington        Wash.         WA
 56      West Virginia        W.Va.         WV
 57          Wisconsin         Wis.         WI
 58            Wyoming         Wyo.         WY]

In [82]:
df_state = table_state[0]
df_state.head()

            State Abbreviation Postalcode
0         Alabama         Ala.         AL
1          Alaska       Alaska         AK
2  American Samoa          NaN         AS
3         Arizona        Ariz.         AZ
4        Arkansas         Ark.         AR

In [83]:
df_state = df_state.drop(['Abbreviation'],axis=1)
df_state.head()

            State Postalcode
0         Alabama         AL
1          Alaska         AK
2  American Samoa         AS
3         Arizona         AZ
4        Arkansas         AR

In [85]:
merged_state = pd.merge(df_coord,df_state, how = 'inner', on='State')
merged_state

             State   Latitude   Longitude Postalcode
0          Alabama  32.806671  -86.791130         AL
1           Alaska  61.370716 -152.404419         AK
2          Arizona  33.729759 -111.431221         AZ
3         Arkansas  34.969704  -92.373123         AR
4       California  36.116203 -119.681564         CA
5         Colorado  39.059811 -105.311104         CO
6      Connecticut  41.597782  -72.755371         CT
7         Delaware  39.318523  -75.507141         DE
8          Florida  27.766279  -81.686783         FL
9          Georgia  33.040619  -83.643074         GA
10          Hawaii  21.094318 -157.498337         HI
11           Idaho  44.240459 -114.478828         ID
12        Illinois  40.349457  -88.986137         IL
13         Indiana  39.849426  -86.258278         IN
14            Iowa  42.011539  -93.210526         IA
15          Kansas  38.526600  -96.726486         KS
16        Kentucky  37.668140  -84.670067         KY
17       Louisiana  31.169546  -91.867805         LA
18           Maine  44.693947  -69.381927         ME
19        Maryland  39.063946  -76.802101         MD
20   Massachusetts  42.230171  -71.530106         MA
21        Michigan  43.326618  -84.536095         MI
22       Minnesota  45.694454  -93.900192         MN
23     Mississippi  32.741646  -89.678696         MS
24        Missouri  38.456085  -92.288368         MO
25         Montana  46.921925 -110.454353         MT
26        Nebraska  41.125370  -98.268082         NE
27          Nevada  38.313515 -117.055374         NV
28   New Hampshire  43.452492  -71.563896         NH
29      New Jersey  40.298904  -74.521011         NJ
30      New Mexico  34.840515 -106.248482         NM
31        New York  42.165726  -74.948051         NY
32  North Carolina  35.630066  -79.806419         NC
33    North Dakota  47.528912  -99.784012         ND
34            Ohio  40.388783  -82.764915         OH
35        Oklahoma  35.565342  -96.928917         OK
36          Oregon  44.572021 -122.070938         OR
37    Pennsylvania  40.590752  -77.209755         PA
38    Rhode Island  41.680893  -71.511780         RI
39  South Carolina  33.856892  -80.945007         SC
40    South Dakota  44.299782  -99.438828         SD
41       Tennessee  35.747845  -86.692345         TN
42           Texas  31.054487  -97.563461         TX
43            Utah  40.150032 -111.862434         UT
44         Vermont  44.045876  -72.710686         VT
45        Virginia  37.769337  -78.169968         VA
46      Washington  47.400902 -121.490494         WA
47   West Virginia  38.491226  -80.954453         WV
48       Wisconsin  44.268543  -89.616508         WI
49         Wyoming  42.755966 -107.302490         WY

In [86]:
merged_state = merged_state.rename(columns={'Postalcode':'state_code','State':'state','Latitude':'latitude',
                                            'Longitude':'longitude'})
merged_state

             state   latitude   longitude state_code
0          Alabama  32.806671  -86.791130         AL
1           Alaska  61.370716 -152.404419         AK
2          Arizona  33.729759 -111.431221         AZ
3         Arkansas  34.969704  -92.373123         AR
4       California  36.116203 -119.681564         CA
5         Colorado  39.059811 -105.311104         CO
6      Connecticut  41.597782  -72.755371         CT
7         Delaware  39.318523  -75.507141         DE
8          Florida  27.766279  -81.686783         FL
9          Georgia  33.040619  -83.643074         GA
10          Hawaii  21.094318 -157.498337         HI
11           Idaho  44.240459 -114.478828         ID
12        Illinois  40.349457  -88.986137         IL
13         Indiana  39.849426  -86.258278         IN
14            Iowa  42.011539  -93.210526         IA
15          Kansas  38.526600  -96.726486         KS
16        Kentucky  37.668140  -84.670067         KY
17       Louisiana  31.169546  -91.867805         LA
18           Maine  44.693947  -69.381927         ME
19        Maryland  39.063946  -76.802101         MD
20   Massachusetts  42.230171  -71.530106         MA
21        Michigan  43.326618  -84.536095         MI
22       Minnesota  45.694454  -93.900192         MN
23     Mississippi  32.741646  -89.678696         MS
24        Missouri  38.456085  -92.288368         MO
25         Montana  46.921925 -110.454353         MT
26        Nebraska  41.125370  -98.268082         NE
27          Nevada  38.313515 -117.055374         NV
28   New Hampshire  43.452492  -71.563896         NH
29      New Jersey  40.298904  -74.521011         NJ
30      New Mexico  34.840515 -106.248482         NM
31        New York  42.165726  -74.948051         NY
32  North Carolina  35.630066  -79.806419         NC
33    North Dakota  47.528912  -99.784012         ND
34            Ohio  40.388783  -82.764915         OH
35        Oklahoma  35.565342  -96.928917         OK
36          Oregon  44.572021 -122.070938         OR
37    Pennsylvania  40.590752  -77.209755         PA
38    Rhode Island  41.680893  -71.511780         RI
39  South Carolina  33.856892  -80.945007         SC
40    South Dakota  44.299782  -99.438828         SD
41       Tennessee  35.747845  -86.692345         TN
42           Texas  31.054487  -97.563461         TX
43            Utah  40.150032 -111.862434         UT
44         Vermont  44.045876  -72.710686         VT
45        Virginia  37.769337  -78.169968         VA
46      Washington  47.400902 -121.490494         WA
47   West Virginia  38.491226  -80.954453         WV
48       Wisconsin  44.268543  -89.616508         WI
49         Wyoming  42.755966 -107.302490         WY

In [91]:
merged_travel = pd.merge(results_convert,merged_state, how = 'left', on='state_code')
merged_travel

,level,date,state_fips,state_code,pop_stay_at_home,pop_not_stay_at_home,trips,trips_1,trips_1_3,trips_3_5,...,trips_50_100,trips_100_250,trips_250_500,trips_500,year,month,day,state,latitude,longitude
0,State,2019-01-01T00:00:00.000,1,AL,1028578,3844356,11968328,2792091,3151108,1604875,...,232409,108187,27164,10047,2019,1,1,Alabama,32.806671,-86.791130
1,State,2019-01-01T00:00:00.000,33,NH,312645,1039666,3705345,726417,970009,492350,...,90462,27333,3998,7602,2019,1,1,New Hampshire,43.452492,-71.563896
2,State,2019-01-01T00:00:00.000,34,NJ,2244189,6637104,26078674,7491874,6764617,3009746,...,486493,155179,28397,63784,2019,1,1,New Jersey,40.298904,-74.521011
3,State,2019-01-01T00:00:00.000,35,NM,525761,1563262,6475422,1972284,1756894,795723,...,139256,83929,19001,10138,2019,1,1,New Mexico,34.840515,-106.248482
4,State,2019-01-01T00:00:00.000,36,NY,5931873,13550603,60957950,18317662,15401822,7187598,...,857637,329795,72132,117561,2019,1,1,New York,42.165726,-74.948051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31411,State,2020-09-07T00:00:00.000,24,MD,1697261,4345457,15192430,3672811,3613620,1807899,...,336415,188004,46268,33052,2020,9,7,Maryland,39.063946,-76.802101
31412,State,2020-09-07T00:00:00.000,25,MA,2179096,4723053,20235849,5384662,5295287,2388189,...,434173,136980,27578,53869,2020,9,7,Massachusetts,42.230171,-71.530106
31413,State,2020-09-07T00:00:00.000,26,MI,2839783,7156132,24656817,6018240,5794554,2836831,...,723345,461517,95887,58132,2020,9,7,Michigan,43.326618,-84.536095
31414,State,2020-09-07T00:00:00.000,28,MS,658198,2328332,7152609,1631084,1741275,822180,...,213363,135169,40555,9691,2020,9,7,Mississippi,32.741646,-89.678696
31415,State,2020-09-07T00:00:00.000,55,WI,1605657,4207911,14027313,3188125,3317802,1623591,...,499110,327412,55407,23878,2020,9,7,Wisconsin,44.268543,-89.616508

In [93]:
# merged_travel_loc = merged_travel[merged_travel.isnull()]
merged_travel.dropna(axis=0, how='any', inplace=True)
merged_travel

,level,date,state_fips,state_code,pop_stay_at_home,pop_not_stay_at_home,trips,trips_1,trips_1_3,trips_3_5,...,trips_50_100,trips_100_250,trips_250_500,trips_500,year,month,day,state,latitude,longitude
0,State,2019-01-01T00:00:00.000,1,AL,1028578,3844356,11968328,2792091,3151108,1604875,...,232409,108187,27164,10047,2019,1,1,Alabama,32.806671,-86.791130
1,State,2019-01-01T00:00:00.000,33,NH,312645,1039666,3705345,726417,970009,492350,...,90462,27333,3998,7602,2019,1,1,New Hampshire,43.452492,-71.563896
2,State,2019-01-01T00:00:00.000,34,NJ,2244189,6637104,26078674,7491874,6764617,3009746,...,486493,155179,28397,63784,2019,1,1,New Jersey,40.298904,-74.521011
3,State,2019-01-01T00:00:00.000,35,NM,525761,1563262,6475422,1972284,1756894,795723,...,139256,83929,19001,10138,2019,1,1,New Mexico,34.840515,-106.248482
4,State,2019-01-01T00:00:00.000,36,NY,5931873,13550603,60957950,18317662,15401822,7187598,...,857637,329795,72132,117561,2019,1,1,New York,42.165726,-74.948051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31411,State,2020-09-07T00:00:00.000,24,MD,1697261,4345457,15192430,3672811,3613620,1807899,...,336415,188004,46268,33052,2020,9,7,Maryland,39.063946,-76.802101
31412,State,2020-09-07T00:00:00.000,25,MA,2179096,4723053,20235849,5384662,5295287,2388189,...,434173,136980,27578,53869,2020,9,7,Massachusetts,42.230171,-71.530106
31413,State,2020-09-07T00:00:00.000,26,MI,2839783,7156132,24656817,6018240,5794554,2836831,...,723345,461517,95887,58132,2020,9,7,Michigan,43.326618,-84.536095
31414,State,2020-09-07T00:00:00.000,28,MS,658198,2328332,7152609,1631084,1741275,822180,...,213363,135169,40555,9691,2020,9,7,Mississippi,32.741646,-89.678696
31415,State,2020-09-07T00:00:00.000,55,WI,1605657,4207911,14027313,3188125,3317802,1623591,...,499110,327412,55407,23878,2020,9,7,Wisconsin,44.268543,-89.616508

In [95]:
merged_travel['date']= merged_travel['date'].str.split('T', n = 1, expand = True)
merged_travel

,level,date,state_fips,state_code,pop_stay_at_home,pop_not_stay_at_home,trips,trips_1,trips_1_3,trips_3_5,...,trips_50_100,trips_100_250,trips_250_500,trips_500,year,month,day,state,latitude,longitude
0,State,2019-01-01,1,AL,1028578,3844356,11968328,2792091,3151108,1604875,...,232409,108187,27164,10047,2019,1,1,Alabama,32.806671,-86.791130
1,State,2019-01-01,33,NH,312645,1039666,3705345,726417,970009,492350,...,90462,27333,3998,7602,2019,1,1,New Hampshire,43.452492,-71.563896
2,State,2019-01-01,34,NJ,2244189,6637104,26078674,7491874,6764617,3009746,...,486493,155179,28397,63784,2019,1,1,New Jersey,40.298904,-74.521011
3,State,2019-01-01,35,NM,525761,1563262,6475422,1972284,1756894,795723,...,139256,83929,19001,10138,2019,1,1,New Mexico,34.840515,-106.248482
4,State,2019-01-01,36,NY,5931873,13550603,60957950,18317662,15401822,7187598,...,857637,329795,72132,117561,2019,1,1,New York,42.165726,-74.948051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31411,State,2020-09-07,24,MD,1697261,4345457,15192430,3672811,3613620,1807899,...,336415,188004,46268,33052,2020,9,7,Maryland,39.063946,-76.802101
31412,State,2020-09-07,25,MA,2179096,4723053,20235849,5384662,5295287,2388189,...,434173,136980,27578,53869,2020,9,7,Massachusetts,42.230171,-71.530106
31413,State,2020-09-07,26,MI,2839783,7156132,24656817,6018240,5794554,2836831,...,723345,461517,95887,58132,2020,9,7,Michigan,43.326618,-84.536095
31414,State,2020-09-07,28,MS,658198,2328332,7152609,1631084,1741275,822180,...,213363,135169,40555,9691,2020,9,7,Mississippi,32.741646,-89.678696
31415,State,2020-09-07,55,WI,1605657,4207911,14027313,3188125,3317802,1623591,...,499110,327412,55407,23878,2020,9,7,Wisconsin,44.268543,-89.616508

In [96]:
merged_travel = merged_travel.drop(['level'],axis=1)
merged_travel

,date,state_fips,state_code,pop_stay_at_home,pop_not_stay_at_home,trips,trips_1,trips_1_3,trips_3_5,trips_5_10,...,trips_50_100,trips_100_250,trips_250_500,trips_500,year,month,day,state,latitude,longitude
0,2019-01-01,1,AL,1028578,3844356,11968328,2792091,3151108,1604875,1879113,...,232409,108187,27164,10047,2019,1,1,Alabama,32.806671,-86.791130
1,2019-01-01,33,NH,312645,1039666,3705345,726417,970009,492350,582185,...,90462,27333,3998,7602,2019,1,1,New Hampshire,43.452492,-71.563896
2,2019-01-01,34,NJ,2244189,6637104,26078674,7491874,6764617,3009746,3582118,...,486493,155179,28397,63784,2019,1,1,New Jersey,40.298904,-74.521011
3,2019-01-01,35,NM,525761,1563262,6475422,1972284,1756894,795723,834525,...,139256,83929,19001,10138,2019,1,1,New Mexico,34.840515,-106.248482
4,2019-01-01,36,NY,5931873,13550603,60957950,18317662,15401822,7187598,8789865,...,857637,329795,72132,117561,2019,1,1,New York,42.165726,-74.948051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31411,2020-09-07,24,MD,1697261,4345457,15192430,3672811,3613620,1807899,2334234,...,336415,188004,46268,33052,2020,9,7,Maryland,39.063946,-76.802101
31412,2020-09-07,25,MA,2179096,4723053,20235849,5384662,5295287,2388189,2816411,...,434173,136980,27578,53869,2020,9,7,Massachusetts,42.230171,-71.530106
31413,2020-09-07,26,MI,2839783,7156132,24656817,6018240,5794554,2836831,3701091,...,723345,461517,95887,58132,2020,9,7,Michigan,43.326618,-84.536095
31414,2020-09-07,28,MS,658198,2328332,7152609,1631084,1741275,822180,1095347,...,213363,135169,40555,9691,2020,9,7,Mississippi,32.741646,-89.678696
31415,2020-09-07,55,WI,1605657,4207911,14027313,3188125,3317802,1623591,2042180,...,499110,327412,55407,23878,2020,9,7,Wisconsin,44.268543,-89.616508

In [97]:
merged_travel.to_csv('travel_data.csv')

In [ ]:
# #placeholder - do not use
# Enter the information from those sections here
socrata_domain = 'opendata.socrata.com'
socrata_dataset_identifier = 'w96p-f2qv'

In [ ]:
#placeholder - do not use
socrata_token = os.environ.get("SODAPY_APPTOKEN")

In [ ]:
#placeholder - do not use
client = Socrata(socrata_domain, socrata_token)
print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))